body {
    background-color: lightblue;
    background-image: url("../image/bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: minecraftFont;
    src: url("minecraft_font.ttf");
    format(truetype);
}
